*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../imagens/verticalmesa.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    transition: all ls linear;
    overflow: hidden;
}

.wrap-everything{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 100%;
    width: 100%;
}