*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

#selects-div{
    display: none;
    flex-direction: column;
    gap: 2vh;
}

.badge{
    font-size: 1.4rem !important;
}

.error-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 300px;
    height: auto;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid;
    background-color: aquamarine;
    font-size: 1.4rem;
    text-align: center;
}

.error-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 300px;
    height: auto;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid grey;
    background-color: whitesmoke;
    box-shadow: chocolate;
    font-size: 1.4rem;
    text-align: center;
}

.error-btn{
    padding: 10px;
    border: none;
    border-radius: 999px;
    color: bisque;
    opacity: 0.7;
}

.error-btn:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: brown;
}